@import "../../assets/sass/helper";

.blog-item {
    .box-img {
        position: relative;
        overflow: hidden;

        img {
        }
    }

    .box-content {
        position: relative;
        bottom: 50px;
        margin-left: 50px;
        margin-bottom: -50px;
        padding: 40px;
        z-index: 1;
    }
    .uniform-height {
        height: 150px; /* Adjust this value to your desired height */
        width: auto; /* This ensures the aspect ratio is maintained */
        object-fit: cover; /* This will cover the area of the box without distorting the image */
    }
}
